.navbar div{
    display: inline-block;
    margin: 0px;
    margin-top: 0px;
    font-size: 20px;
}

#imageSection{
    height: 10vh;
    margin: 0px;
}

.navbar{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;    
}