
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<h3>
    Step 1
</h3>

<p>
    Use the create page link at the top of the page to get started.
</p>

<h3>
    Step 2
</h3>

<p>
    Choose a route on which other users and yourself will be able to use in order to view the webpage you create.<br/>
    If you enter ABC/abc, your site will appear at the address www.circlespace.com/{YourUserName}/ABC/abc<br/>
    Your chosen route must be unique and may be modified or clean as some characters cannot be used in a route such as a '?', ':', ';', '/', '&amp;', or '='
</p>

<h3>
    Step 3
</h3>

<p>
    Without navigating away, upload any images you will need in order to build this page.<br/>
    Doing so will allow you to drag and drop them in on the next page.
</p>

<h3>
    Step 4
</h3>

<p>
    Use the styling and live preview area of the webpage creator in order to build your final product. Most elements on the page allow you to modify their text by clicking them.
    <br/>Clicking them also makes them the target of the styling you apply using the controls at the right of the page.
</p>

<h3>
    Step 5
</h3>

<p>
    When you are done, hit save. This will update your empty page with the new content you've created.
    <br/>Be sure to save often and check it out at your chosen link or going to your profile page and clicking the link there.
</p>

<h3>Step 6</h3>
<p>
    If you decide to go ahead and pull down and deploy on your own, you can save all the necessary files by going to your profile page and clicking save next the address your webpage is currently being hosted at.
    <br/>Any links to other pages or image paths may need to be updated manually to point at the correct url's.
    <br/>Open the files and check out any "< a > < a />"'s. You may need to change the "href" you see nearby to a different url to make them work.
    <br/>Also keep an eye on the "< img > < /img >"'s. These have a "src" in them that point to your images you uploaded which may also need to change.
</p>

<h3>
    Step 7
</h3>

<p>
    Your all set to post those files up on the web for anyone to access.<br/>
    Look for a hosting service on the internet and a place to buy a domain, and follow the instructions you find at those sites in order to have you brand new website accessible on the web.
</p>

