@{
    ViewBag.Title = "CircleSpace";
}

<div class="jumbotron">
    <h1 class="Name">CircleSpace</h1>
    <img src="~/Content/Images/Logo3.PNG"/>
    <p class="lead">Welcome to CircleSpace where no prior coding experiences is required to create your very own website.</p>
 </div> 
