@model CircleSpace.Models.ProfileContentContainer

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@User.Identity.Name</h2>
<hr />
<h3>Pages Created</h3>

@foreach (var page in Model.OWNED_PAGES)
{
    <div>
        <a href="@page.Route">www.circlespace.com/@page.Route</a>
    </div>
        Html.ActionLink("Save", "SaveCreatedPage", new { id = page.ID });
}
<hr />
<h3>Pages Contributing To</h3>
@foreach (var page in Model.CONTRIUBTED_PAGES)
{
    <div>
        <a href="@page.Route">www.circlespace.com/@page.Route</a>
    </div>
        Html.ActionLink("Save", "SaveCreatedPage", new { id = page.ID });


}
<hr />
<h3>Layouts Owned</h3>
@foreach (var _layout in Model.OWNED_LAYOUTS)
{
    <div>
        <a href="EditLayout/@_layout.ID">@_layout.LayoutTitle</a>
    </div>
        Html.ActionLink("Save", "SaveCreatedLayout", new { id = _layout.ID });
}