html {
    --backgroundColorLight: #FFFFFF;
    --backgroundColorDark: #0000;
    --HoverColor: #ACCFCC;
    --TextColor: #000000;
    --BorderStyle: none;
    --BorderColor: #000000;
    --CreatorStyleBorder: double;
    --BorderRadius: 5px;
    --SideBackgroundColor: silver;
}

.navbar {
    background-color: var(--backgroundColorLight);
    border-bottom-color: var(--backgroundColorLight);
    position: sticky;
}

.navbar-toggle {
    background-color: var(--backgroundColorDark);
}

.navbar-collapse {
    border: var(--BorderStyle);
}

.navbar-inverse .navbar-brand {
    color: var(--TextColor);
}

.navbar-inverse .navbar-nav > li > a {
    color: var(--TextColor);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: var(--BorderColor);
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: var(--HoverColor);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus .navbar-inverse .navbar-brand {
    color: var(--HoverColor);
}

.row{
    display: flex;
}

.creator-controls-col {
    display: grid;
    align-content: center;
    width: 15vw;
    border-style: var(--CreatorStyleBorder);
    border-radius: var(--BorderRadius);
    background-color: var(--SideBackgroundColor);
}

#radioChecks{
    width: 15vw;
}

.selector-headers {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

.selector-bodies {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

.selector-footers {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

input[type=button] {
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

input[type=color] {
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

input[type=checkbox] {
    
}

input[type=number] {
    border-style: double;
    border-radius: 5px;
    background-color: var(--backgroundColorLight);
}

input[type=radio]{

}

#live-preview-area {
    width: 65vw;
    border-style: var(--CreatorStyleBorder);
    border-radius: var(--BorderRadius);
    max-height: 80vh;
    max-width: 65vw;
    overflow-y: auto;
    overflow-x: auto;
}

.creator-section-options {
    width: 25vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-style: var(--CreatorStyleBorder);
    border-radius: var(--BorderRadius);
    background-color: var(--SideBackgroundColor);
}

div > label {
    display: inline-grid;
    margin-top: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--backgroundColorLight);
    box-shadow: 2px 2px 2px 2px #888888;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ClassFooter{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
}
.jumbotron {
    background-color: var(--backgroundColorLight);
    text-align:center;
}
.Name{
    font-family:'Agency FB';
}
.lead{
    font-family:'Agency FB';
}