
@{
    ViewBag.Title = "Create Custom Layout";
}

<h2>Create Custom Layout</h2>

<label>
    Title: <input type="text" />
</label>
<select id="type-selector">
    <option value="Header">
        Header
    </option>
    <option value="Body">
        Body
    </option>
    <option value="Footer">
        Footer
    </option>
    <option value="Custom">
        Custom
    </option>
</select>

<div id="draggableItems">
    <h1>Page Header</h1>
    <h2>Section Header</h2>
    <h3>Paragraph Header</h3>
    <p>Paragraph</p>    
</div>

<div id="live-preview-area">
</div>

<div class="col-sm-1 creator-section-options">
    <div>
        <label>
            Font Color:
            <input id="fontColor" type="color" />
        </label>
        <label>
            Background Color:
            <input id="backgroundColor" type="color" />
        </label>
        <label>
            Margin Left:
            <input id="marginLeft" type="number" />
        </label>
        <label>
            Margin Right:
            <input id="marginRight" type="number" />
        </label>
        <label>
            Margin Top:
            <input id="marginTop" type="number" />
        </label>
        <label>
            Margin Bottom:
            <input id="marginBottom" type="number" />
        </label>
        <label>
            Font Size:
            <input id="fontSize" type="number" />
        </label>
    </div>
</div>

@section scripts{
      <script src="~/Scripts/DragAndDrop.js"></script>
      <script src="~/Scripts/layout-creator-script.js"></script>  
}
