
@{
    ViewBag.Title = "Create Custom Layout";
}

<h2>Create Custom Layout</h2>

<select class="selector">
    <option value="Header">
        Header
    </option>
    <option value="Body">
        Body
    </option>
    <option value="Footer">
        Footer
    </option>
</select>

<div id="live-preview-area">
    <div id="headerPreview"></div>
    <div id="bodyPreview"></div>
    <div id="footerPreview"></div>
</div>

<div class="col-sm-1 creator-section-options">
    <div>
        <label>
            Font Color:
            <input id="fontColor" type="color" />
        </label>
        <label>
            Background Color:
            <input id="backgroundColor" type="color" />
        </label>
        <label>
            Margin Left:
            <input id="marginLeft" type="number" />
        </label>
        <label>
            Margin Right:
            <input id="marginRight" type="number" />
        </label>
        <label>
            Margin Top:
            <input id="marginTop" type="number" />
        </label>
        <label>
            Margin Bottom:
            <input id="marginBottom" type="number" />
        </label>
        <label>
            Font Size:
            <input id="fontSize" type="number" />
        </label>
    </div>
</div>
