@model CircleSpaceGeneralModels.Models.LayoutModel

@{
    ViewBag.Title = "Create Custom Layout";
}

<style id="css-for-layout">
   @{ 
       var css = new HtmlString(Model.CSS);
   }
    @css
</style>

<h2>Create Custom Layout</h2>
<h3 id="layoutTitle">@Model.LayoutTitle</h3>

<select id="type-selector">
    <option value="Header">
        Header
    </option>
    <option value="Body">
        Body
    </option>
    <option value="Footer">
        Footer
    </option>
</select>

<div id="draggableItems">
    <h1>Page Header</h1>
    <h2>Section Header</h2>
    <h3>Paragraph Header</h3>
    <p>Paragraph</p>
</div>
<p>Left-Click = Edit &emsp;Left-Click + ShiftKey = Remove</p>
<div id="live-preview-area" style="height: 300px;">
    @Model.Content
</div>

@section scripts{
    <script src="~/Scripts/DragAndDrop.js"></script>
    <script src="~/Scripts/layout-creator-script.js"></script>
}
