
@{
    ViewBag.Title = "NameWebsitePage";
}

<h2>Name Your WebSite!</h2>

<form method="post" enctype="multipart/form-data" action="/Creator/NameWebsitePagePost" >

    <input name="imageUploadCenter" type="file" multiple/>
    <label>
    Enter Route Below (ex. "/Webpage/New/Awesome")
    </label>
    <br/>
    <input name="route" type="text"/>
    <input type="submit" value="Next"/>

</form>


