@model CircleSpaceGeneralModels.Models.PageModel


<div class="pageBox">

        <tr>
            <th>Owner Username</th>
            <th>Owner Email</th>
            
        </tr>
        <tr>

            <td>
                @Model.PageOwner.Username


            </td>
            <td>
                @Model.PageOwner.Email
            </td>
            <td>
                <a href="/Browse/UserContent/@Model.Route">www.circlespace.com/@Model.Route</a>
            </td>
        </tr>

</div>